.heading{
    padding: 40px;
    background-image: url('../images/h_img.jpg');
    background-size: cover;
    text-align: center;
}
h1{
    text-align: center;
    color: white;
    font-weight: 700;
}
h6{
    text-align: center;
    color:white;
    font-style: italic;
    font-weight: 100;
}
.fs10{
    font-size: 10px;
}
.fs11{
    font-size: 11px;
}
.fs14{
    font-size: 14;
}
.fs18{
    font-size: 18px;
}
h2{
    text-align: center;
    color: black;
    font-weight: 175px;
    font-style: oblique;
}
p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.services{
    background-image: url('../images/s_image.jpg');
    padding: 35px;
    background-size: cover;
}
h3{
    text-align: center;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.paragraph{
    color: whitesmoke;
}
h4{
    text-align: center;
    font-style: oblique;
    font-weight: 200px;
}
 .design{
     float: left;
}
.development{
    display: block;
    margin-right: auto;
    margin-left: auto;
 }
.product{
    float: right;
}  
.design-hidden{
    display: none;
}
.clickable {
    cursor: pointer;
    color: #0088cc;
  }
 .clickable:hover {
    text-decoration: underline;
  }
.footer{
    background-image: url("../images/c_image.jpg");
    background-size: cover;
    padding: 40px;
}